* {
  all: unset; // Unsets everything so you can style everything from scratch
}

// Global Styles
.bar {
  background-color: #1a1b26;
  color: #9abdf5;
  padding: 10px;
  font-family: "DejaVu Sans Nerd Font";
}

// Styles on classes (see eww.yuck for more information)

.right slider {
  all: unset;
  color: #ffd5cd;
}

.power-menu label,
.gpaste label,
.tray,
.player-controls label {
  padding-left: 5px;
  padding-right: 5px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #9abdf5;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 3px;
  min-width: 50px;
  margin-left: 15px;
  margin-right: 10px;
}

.workspace {
  color: #404e65;
}

.workspace label {
  padding-left: 5px;
  padding-right: 5px;
}

.workspace:hover {
  color: #9abdf5;
}

.workspace:active {
  color: #9abdf5;
}

.tray menu {
  background-color: #1a1b26;
  padding: 20px 0;
  border: solid 1px #9abdf5;
  border-radius: 0.75rem;

  >menuitem {
    padding: 0 20px;

    &:disabled label {
      color: gray;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}