$fg: #9abdf5;
$bg: #1a1b26;

* {
  all: unset; // Unsets everything so you can style everything from scratch
}

tooltip {
  background-color: $bg;
  font-family: "DejaVuSansM Nerd Font Propo";
  color: $fg;
  border: solid 1px $fg;
}

// Global Styles
.bar {
  background-color: $bg;
  color: $fg;
  padding: 10px;
  font-family: "DejaVuSansM Nerd Font Propo";
  font-size: 17px;
}

// Styles on classes (see eww.yuck for more information)
$menu-items: power-menu, blue, clip, timer, battery, volume, brightness, dunst, player-controls, nm, workspace;
@each $item in $menu-items {
  .#{$item} label {
    margin: 0 5px;
  }
}

.blue label {
  font-size: 20px;
  margin-right: 3px;
}


.workspace {
  color: #404e65;
}

.workspace:hover {
  color: $fg;

}

.tray {
  margin-bottom: 2px;

  menu {
    background-color: $bg;
    padding: 10px 0;
    border: solid 1px $fg;

    >menuitem {
      padding: 0 20px;

      &:disabled label {
        color: gray;
      }

      &:hover {
        background-color: lighten($bg, 20%) ;
        border-left: solid 1px $fg;
        border-right: solid 1px $fg;
      }
    }
  }
}
