* {
  border: none;
  border-radius: 0;
  font-family: "DejaVuSansM Nerd Font";
  font-size: 16px;
  min-height: 30px;
}

window#waybar {
  background: #1a1b26;
  color: #9abdf5;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
  padding: 0 5px;
  background: transparent;
  border-bottom: 3px solid transparent;
}

/* Not active but has an open window */
#workspaces button.persistent {
  color: #9abdf5;
}

/* Not active and has no open window */
#workspaces button.empty {
  color: #404e65;
}

/* Active workspace */
#workspaces button.active {
  background: #373b41;
  color: #9abdf5;
  border-bottom: 3px solid #9abdf5;
}

#workspaces button.urgent {
  background-color: #ff0000;
}

#mode {
  background: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#backlight,
#pulseaudio,
#tray,
#mode,
#keyboard-state,
#custom-menu-apps,
#custom-gpaste,
#custom-dunst,
#custom-player_song,
#custom-player_controls,
#custom-launcher {
  padding: 0;
  margin: 0 5px;
}
#custom-launcher {
  padding-left: 10px;
}
#custom-menu-apps {
  padding-right: 10px;
}

@keyframes blink {
  to {
    color: #9abdf5;
  }
}

#battery.critical:not(.charging) {
  background: #f53c3c;
  color: #373b41;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#keyboard-state label {
  opacity: 0;
}

#keyboard-state label.locked {
  opacity: 1;
  background-color: #9abdf5;
  color: #1a1b26;
  padding: 0 3px;
}
